﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@{
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
<style>
     #CaptchaImage {
        padding-left:370px;
        

    }
</style>
<div class="wrapper col4" style="text-align:center;height:350px;align-content:center" >
    <h2>Nhập số xác nhận truy cập dịch vụ</h2>
@using (Html.BeginForm())
{
    @Html.Captcha("Refresh", "", 5, "Is required field.", true)
    <input type="submit" value="Xác nhận"/>
}
</div>

