﻿
@*@section featured_intro{
    <div id="featured_intro">
            <div>
                <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
            </div>
        </div>
}*@

@*@section Login{
    <div style="float: right; text-align: right; border: 2px solid green; margin-left: 550px">

        @Html.ActionLink("Đăng nhập", "Index", "AccessControll")|
                    @Html.ActionLink("Kích hoạt", "Index", "AccessControll")


    </div>
}*@
<div class="wrapper col4">
    <div id="latest">
        <ul>
            <li>
                <h2>Truy cập nhanh</h2>
                
            </li>
            <li>
                <h2>Sản phẩm/Chương trình</h2>
                
             
            </li>
            <li class="last">
                <h2>Tin tức mới nhất.</h2>
              
            </li>
        </ul>
        <br class="clear" />
        <img src="~/Images/1.PNG" width="100%" alt="" />
    </div>
</div>
