/*
Template Name: Modern Business
File: Featured Slider CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#featured_slide{
	display:block;
	position:relative;
	margin:0 auto 0;
	width:960px;
	height:210px;
	padding:20px 0px 30px 0px;
	overflow:hidden;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	background-color:#FFFFFF;
	}

#featured_slide a{
	text-decoration:none;
	border:none;
	outline:none;
	}

/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
.nivoSlider{
	position:relative;
	}

.nivoSlider img{
	position:absolute;
	top:0;
	left:0;
	}

/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:none;
	z-index:60;
	}

/* The slices in the Slider */

.nivo-slice{
	display:block;
	position:absolute;
	height:100%;
	z-index:50;
	}
	
/* Caption styles */

.nivo-caption{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	color:#FFFFFF;
	background:#000000;
	opacity:0.8; /* Overridden by captionOpacity setting */
	z-index:89;
	}

.nivo-caption p{
	padding:5px;
	margin:0;
	}

/* ----------------Custom Settings-------------------*/

#slider{
	position:relative;
	background:url("../../Layouts/images/loading.gif") no-repeat 50% 50% #666666;
	}

#slider img{
	display:none;
	position:absolute;
	top:0;
	left:0;
	}

/* Number Nav Under Image - Uses Background Images And Hides The Text Numbers */

.nivo-controlNav{
	display:block;
	position:absolute;
	bottom:-20px;
	width:100%;
	color:#999999;
	background-color:#FFFFFF;
	text-align:center;
	}

.nivo-controlNav a{
	display:inline-block;
	width:10px;
	height:10px;
	margin-right:5px;
	color:#999999;
	background:url("../../Layouts/images/bullets.gif") no-repeat #FFFFFF;
	text-indent:-9999px;
	cursor:pointer;
	z-index:99;
	}

.nivo-controlNav a.active{background-position:-10px 0;}

/* Previous Next Navigation */

.nivo-directionNav a{
	position:absolute;
	top:45%;
	display:block;
	width:30px;
	height:30px;
	background:url("../../Layouts/images/arrows.png") no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	z-index:99;
	}

a.nivo-prevNav{left:15px;}
a.nivo-nextNav{background-position:-30px 0; right:15px;}