﻿@model object
@{
    ViewBag.Title = "CapNhatMatKhau";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2 alig="right">Đổi mật khẩu</h2>
<div align="right">
    @using (Html.BeginForm())
    {
        @Html.Hidden("maKhachHang", Model.ToString())
        <b>Mật khẩu cũ</b>
        @Html.Password("matKhau")<br />
        <b>Mật Khẩu mới:</b>
        @Html.Password("matKhauMoi")<br />
        <input type="submit" value="Đổi mật khẩu" />
    }
</div>
