﻿@model banking.Models.KhachHang

@{
    ViewBag.Title = "ThongTinKhachHang";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<style>
    .display-lable {
        padding-right:15em;
        margin-bottom:15em;
    }
</style>
<h2 style="color:red">Thông tin khách hàng</h2>
<div style="text-align:center;">
    <fieldset>
        <legend>&nbsp;</legend>
        @Html.HiddenFor(model => model.maKhachHang)
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.tenKhachHang) : </b>&nbsp;
        
            @Html.DisplayFor(model => model.tenKhachHang)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.hoKhachHang):</b>
        
            @Html.DisplayFor(model => model.hoKhachHang)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.tenDemKhachHang):</b>&nbsp;
        
            @Html.DisplayFor(model => model.tenDemKhachHang)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.soDienThoai):</b>&nbsp;
       
            @Html.DisplayFor(model => model.soDienThoai)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.diaChi_1):</b>&nbsp;
        
            @Html.DisplayFor(model => model.diaChi_1)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.diaChi_2):</b>&nbsp;
       
            @Html.DisplayFor(model => model.diaChi_2)
        </div>
        <br />
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.loaiKhachHang):</b>&nbsp;
       
            @Html.DisplayFor(model => model.loaiKhachHang)
        </div>
        <br />
        <div class="display-label">
          <b>  @Html.DisplayNameFor(model => model.tenCongTy):</b>&nbsp;
       
            @Html.DisplayFor(model => model.tenCongTy)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.ngheNghiep):</b>&nbsp;
        
            @Html.DisplayFor(model => model.ngheNghiep)
        </div>
        <br />
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.chucVu):</b>&nbsp;
        
            @Html.DisplayFor(model => model.chucVu)
        </div>
        <br />
        <div class="display-label">
           <b> @Html.DisplayNameFor(model => model.mucLuong):</b>&nbsp;
       
            @Model.mucLuong.ToString("c") &nbsp; 
        </div>
        <br />

    </fieldset>
    @using (Html.BeginForm("CapNhatThongTinKhachHang", "User", FormMethod.Get))
    {
        @Html.HiddenFor(model => model.maKhachHang)
        <input type="submit" value="Cập nhật thông tin" />
    }
    @using (Html.BeginForm("CapNhatMatKhau", "User", FormMethod.Get))
    {
        @Html.HiddenFor(model => model.maKhachHang)
        <input type="submit" value="Đổi mật khẩu" />
    }
</div>


