﻿.wgStyle
{
     width:100%;
  
}
.wgStyle table
{
    background-color:#fff;
    border-collapse:collapse;
    width:99%;
     margin:5px auto;

}
.wgStyle table th
{
    
    font-weight:bold;
    background-color: #ff6a00;
    border:1px solid #f4c965;
    text-align:center;
}
.wgStyle table tfoot
{
    font-weight:bold;
    background-color: #f1f0ef;
    text-align:center;
}
    .wgStyle table td
    {
        padding:4px;
          border:1px solid #f4c965;
    }
    .wgStyle table td a
    {
        text-decoration:none;
        color:blue;
    }
    .wgStyle table td a:hover
    {
        background:none;
        color:red;
    }
     .wgStyle table th a
    {
        text-decoration:none;
        color:#fff;
    }
    .wgStyle table th a:hover,.wgStyle table th a:active
    {
        color:#2a0909;
    }
    .alignL
{
    text-align:left!important;
}
.alignR
{
    text-align:right!important;
}
.alignC
{
    text-align:center!important;
}
.alignJ
{
    text-align:justify!important;
}