body {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #555555; text-decoration: none;
	background-color: #FFFFFF;
	SCROLLBAR-FACE-COLOR: #E5E5E5;
    SCROLLBAR-HIGHLIGHT-COLOR: #F8F8F8;
    SCROLLBAR-SHADOW-COLOR: #999999;
    SCROLLBAR-3DLIGHT-COLOR: #999999;
    SCROLLBAR-ARROW-COLOR: #999999;
    SCROLLBAR-TRACK-COLOR: #F0F0F0;
    SCROLLBAR-DARKSHADOW-COLOR: #F0F0F0;
}

.hide { position:absolute; visibility:hidden; }
.show { position:absolute; visibility:visible; }

A:link {
	color: #333333; 
	text-decoration: underline; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A:visited {
	color: #333333; 
	text-decoration: underline; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A:hover {
	color: #FF9900; 
	text-decoration: underline;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}

A.footer:link {
	color: #333333; 
	text-decoration: underline; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A.footer:visited {
	color: #333333; 
	text-decoration: underline; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A.footer:hover {
	color: #FF9900; 
	text-decoration: underline;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	cursor: default
}

A.mainmenu:link {
	color: #D3EBFD; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.mainmenu:visited {
	color: #D3EBFD; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.mainmenu:hover {
	color: #FFFFFF; 
	text-decoration: underline;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}

td.line {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #D3EBFD; text-decoration: none;
}

td.titlebox {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: bold;
}

td.smalltext {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

.note {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #555555; 
	font-style: italic;
}

.bold {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #000000; 
	font-weight: bold
}

A.textmenu:link {
	color: #FFFFFF; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.textmenu:visited {
	color: #FFFFFF; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.textmenu:hover {
	color: #FFFFFF; 
	text-decoration: none;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}

A.submenu:link {
	color: #D3EBFD; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.submenu:visited {
	color: #D3EBFD; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}
A.submenu:hover {
	color: #FFFFFF; 
	text-decoration: underline;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}

A.menuitem:link {
	color: #666666; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A.menuitem:visited {
	color: #666666; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A.menuitem:hover {
	color: #333333;
	text-decoration: none;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
}

A.menuitemactive:link {
	color: #333333; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}
A.menuitemactive:visited {
	color: #333333; 
	text-decoration: none; 
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px; 
}
A.menuitemactive:hover {
	color: #333333;
	text-decoration: none;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
}

input.button1{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px; 
	height: 22; 
	border: 1px solid #FFFFFF; 
	background-image: url('images/bg_button1.gif'); 
	background-repeat: 
	repeat-x; 
	background-position: center;
}

input.button2{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	height: 22; 
	border: 1px solid #FFFFFF; 
	background-image: url('images/bg_button1.gif'); 
	background-repeat: 
	repeat-x; 
	background-position: center;
}

.select{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	border: 1px solid #AAAAAA; 
}

.radio{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}

input{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
}

input.text{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	height: 17;
	border: 1px solid #AAAAAA; 
}

.textarea{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	border: 1px solid #AAAAAA;
}


td.copyright {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px; color: #E8F4FD; text-decoration: none;
}

td.title1 {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #00559C; text-decoration: none; font-weight: bold;
}

.title_3{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px; color: #FF631D; text-decoration: none; font-weight: bold
}

td {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333;
}

th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #000000;
}

.textnote{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333;
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px; 
	border-bottom-style: dotted; 
	border-bottom-width: 1px
}

.mytextarea	{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333; text-decoration: none; font-weight: 400
	SCROLLBAR-FACE-COLOR: #2E609F; SCROLLBAR-HIGHLIGHT-COLOR: #cfcfcf; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-color: #333333; SCROLLBAR-ARROW-COLOR: #F0F0F0; SCROLLBAR-TRACK-COLOR: #4D89CC; SCROLLBAR-DARKSHADOW-COLOR: #adcca6
}
TEXTBOX.ro
{
	font-family:Tahoma; font-size:11px;
	BORDER-BOTTOM-COLOR: #000080;
    BORDER-LEFT-COLOR: #000080;
    BORDER-RIGHT-COLOR: #000080;
    BORDER-TOP-COLOR: #000080
}

.title{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #FFFFE1; text-decoration: none; font-weight: bold
}

.listH_TD{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #DAEBFD; text-decoration: none; font-weight: bold
}

.list_TD_bold{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #00559C; text-decoration: none; font-weight: bold
}

.acctDU{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #EF8E29; text-decoration: none; font-weight: 400
}

.acctNo{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #EF8E29; text-decoration: none; font-weight: bold
}

.keyData{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #FF5003; text-decoration: none;
}

.tranData{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #555555; text-decoration: none; font-weight: bold
}

.activeData{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #D67110; text-decoration: none; font-weight: 400
}

.list_TD{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333; text-decoration: none; font-weight: 400
}

.listAcct{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333; text-decoration: none; font-weight: bold
}

.error_TD{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: red; text-decoration: none; font-weight: 400
}

.error{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: red; text-decoration: none; font-weight: 400
}

.note_Header {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #000080; text-decoration: none; font-weight: bold
}

.note_body {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333; text-decoration: none; font-weight: 400
}

.note_body1 {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #276BB3; text-decoration: none; font-weight: 400
}

.note_body_orange {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #D67310; text-decoration: none; font-weight: 400
}

.menuHeader {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #015190; text-decoration: none; font-weight: bold
}

.formBoxes	{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #333333; text-decoration: none; font-weight: 400
}
.command {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #EF8E29; text-decoration: none; font-weight: 400
}

.view{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #003063; text-decoration: none; font-weight: bold
}

.view_orange{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #D67310; text-decoration: none; font-weight: 400
}

A.exit:link {
	COLOR: #FFFFE1; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.exit:visited {
	COLOR: #FFFFE1; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.exit:hover {
	COLOR: #D67310; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}

A.link:link {
	color: #333333; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: 400
}
A.link:visited {
	color: #333333; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: 400
}
A.link:hover {
	COLOR: #3165FF; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: 400
}

A.nav:link {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.nav:visited {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.nav:hover {
	COLOR: #ffff00; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.navc:link {
	COLOR: #000000; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight:700;
}
A.navc:visited {
	COLOR: #000000; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight:700;
}
A.navc:hover {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight:700;
}
A.navt:link {
	COLOR: #000000; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 9px; font-weight: bold
}
A.navt:visited {
	COLOR: #000000; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 9px; font-weight: bold
}
A.navt:hover {
	COLOR: #013096; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 9px; font-weight: bold
}
A.tnav:link {
	color: #333333; TEXT-DECORATION: underline; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.tnav:visited {
	color: #333333; TEXT-DECORATION: underline; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.tnav:hover {
	COLOR: #9ABFDF; TEXT-DECORATION: underline; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.linkNotUdl:link {
	color: #333333; TEXT-DECORATION: none; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.linkNotUdl:visited {
	color: #333333; TEXT-DECORATION: none; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.linkNotUdl:hover {
	COLOR: #9ABFDF; TEXT-DECORATION: none; font-family: tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.tc:hover {
	COLOR: #013096; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight: bold
}
A.tc:link {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight: bold
}
A.tc:visited {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: Verdana; FONT-SIZE: 11px; font-weight: bold
}

A.tk:link {
	COLOR: #003063; TEXT-DECORATION: none; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}
A.tk:visited {
	COLOR: #003063; TEXT-DECORATION: none; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}
A.tk:hover {
	COLOR: #4A8ACE; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}

A.gd:link {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: 400
}
A.gd:visited {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: 400
}
A.gd:hover {
	COLOR: #666666; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: 400
}

A.gdBlack:link {
	COLOR: #555555; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: bold
}
A.gdBlack:visited {
	COLOR: #555555; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: bold
}
A.gdBlack:hover {
	COLOR: #666666; TEXT-DECORATION: underline; font-family: Tahoma; font-size: 11px; font-weight: bold
}

input.textbox{
	font-family: Verdana; font-size: 8pt; color: #333333; border-style: solid; border-width: 1
}

input.button{
	font-family: Verdana; font-size: 8pt; border-style: solid; border-width: 0
}

DIV {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsCMOn {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #FFFFFF; PADDING-TOP: 2px; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
.clsCMOver {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #FFFFFF; PADDING-TOP: 2px; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}



.menu {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #6EACEB 1px solid; 
	BORDER-RIGHT: #6EACEB 1px solid; 
	BORDER-TOP: #FFFFFF 1px solid; 
	BORDER-BOTTOM: #FFFFFF 1px solid;
	WIDTH: 186px; 
	CURSOR: hand;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	COLOR: white;
	POSITION: absolute;
	BACKGROUND-COLOR: #0B74D1
}
.item_panel {
	BORDER-RIGHT: #6EACEB 1px solid; 
	BORDER-LEFT: #6EACEB 1px solid; 
	WIDTH: 186px; 
	CLIP: rect(0px 186px 0px 0px); 
	POSITION: absolute
}
.item_panel1 {
	BORDER-RIGHT: #6EACEB 1px solid; 
	BORDER-LEFT: #6EACEB 1px solid; 
	WIDTH: 186px; CLIP: rect(0px 186px 0px 0px); 
	POSITION: absolute
}
.item_panel1 A {
	CURSOR: default; COLOR: #82AEE1; TEXT-DECORATION: none
}
.item_panel A {
	CURSOR: default; COLOR: #33449B; TEXT-DECORATION: none
}

.item {
	FONT-SIZE: 11px; WIDTH: 184px; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none
}

.item1 {
	FONT-SIZE: 11px; WIDTH: 184px; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #FFFFFF; font-weight: bold; TEXT-DECORATION: none
}

DIV.menu {
	PADDING-RIGHT: inherit; PADDING-LEFT: inherit; PADDING-BOTTOM: inherit; PADDING-TOP: inherit
}

DIV.question {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}

DIV.answer {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}

DIV.FAQ {
	BORDER-RIGHT: silver 1px solid; 
	PADDING-RIGHT: 1px; 
	BORDER-TOP: silver 1px solid; 
	PADDING-LEFT: 1px; 
	MARGIN-BOTTOM: 16px; 
	PADDING-BOTTOM: 1px; 
	BORDER-LEFT: silver 1px solid; 
	PADDING-TOP: 1px; 
	BORDER-BOTTOM: silver 1px solid
}

/*	STYLESHEET IN FAQ.JSP	*/
td.form1
{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	//background:#EAEAEA;
	background:#F0F0F0;
	font-size: 11px; color: #333333; font-weight: 400
}

td.form1title
{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	background:#EFEFEF;
	font-size: 11px; color: #00559C; font-weight: bold
}

A.oldlink {
	COLOR: #003098; TEXT-DECORATION: none;FONT-WEIGHT: 400
}
A.oldlink:visited {
	COLOR: #003098; TEXT-DECORATION: none;FONT-WEIGHT: 400
}
A.oldlink:hover {
	COLOR: #639AFF; TEXT-DECORATION: none;	FONT-WEIGHT: 400
}

A.linkonbody {
	color: #333333; TEXT-DECORATION: underline;FONT-WEIGHT: 400
}
A.linkonbody:visited {
	color: #333333; TEXT-DECORATION: underline;FONT-WEIGHT: 400
}
A.linkonbody:hover {
	COLOR: #639AFF; TEXT-DECORATION: none;	FONT-WEIGHT: 400
}

A.qview:link {
	COLOR: #003063; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}
A.qview:visited {
	COLOR: #003063; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}
A.qview:hover {
	COLOR: #4A8ACE; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: bold
}

A.qview_orange:link {
	COLOR: #D67310; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}
A.qview_orange:visited {
	COLOR: #D67310; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}
A.qview_orange:hover {
	//COLOR: #EF9631; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	COLOR: #B96211; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}

TD.menuW
{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size:70%;
}

/*	END OF STYLESHEET IN FAQ.JSP	*/

/*	BEGIN OF STYLESHEET IN termOfUsage	*/

.content	{
	font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size:8pt;
	COLOR: #00559C
}

/*	END OF STYLESHEET IN termOfUsage	*/
/*	BEGIN OF STYLESHEET IN rulesPrint	*/
.bodyPrint {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt; color: #000000; text-decoration: none;
	background-color: #FFFFFF;
	//SCROLLBAR-FACE-COLOR: #2E609F; SCROLLBAR-HIGHLIGHT-COLOR: #cfcfcf; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-color: #333333; SCROLLBAR-ARROW-COLOR: #F0F0F0; SCROLLBAR-TRACK-COLOR: #4D89CC; SCROLLBAR-DARKSHADOW-COLOR: #adcca6
}
/*	END OF STYLESHEET IN rulesPrint	*/
DIV.FormElementError{
	position: relative;
  	color: red;
  	visibility: hidden;
}
/*Menu*/
A.ItemMenu:link {
	color: #333333; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px;
}
A.ItemMenu:visited {
	color: #333333; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px;
}
A.ItemMenu:hover {
	COLOR: #003098; TEXT-DECORATION: none; font-family: Tahoma; FONT-SIZE: 11px; font-weight: bold
}
A.errLink:link {
	COLOR: red; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}
A.errLink:visited {
	COLOR: red; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}
A.errLink:hover {
	//COLOR: #EF9631; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	COLOR: #B96211; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; font-weight: 400
}

/*mENU LIST ACCOUNT*/
#popitmenu{
position: absolute;
background-color: #FFFFEA;
border:1px solid #666666;
font: normal 10px Tahoma;
line-height: 16px;
z-index: 100;
visibility: hidden;
}

#popitmenu a{
text-decoration: none;
padding-left: 6px;
color: black;
display: block;
}

#popitmenu a:hover{ /*hover background color*/
background-color: #FFFF99;
}