﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="top">
    <div class="wrapper">
        <div class="wrapper col1">
            <div id="header">
                <div class="fl_left">
                    <h1><a href="#">Internet Banking</a></h1>
                    <p>Ngân hàng điện tử</p>
                </div>
                <div class="fl_right" style="background-color: blue; margin-bottom: 7px">
                    
                        <img src="~/Layouts/images/demo/468x67.gif" alt="" />
                </div>
                <!-- Login section --->
               @* @RenderSection("Login", required: false)*@

                <br class="clear" />
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper col2">
            <div id="topbar">
                <div id="topnav">
                    <ul>
                        <li class="active">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li><a href="style-demo.html"></a></li>
                        <li><a href="full-width.html">Giới thiệu </a></li>
                        <li><a href="#">Tin tức</a>
                           
                        </li>
                        <li class="last"><a href="#">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div id="search">
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Site Search</legend>
                            <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
                            <input type="submit" name="go" id="go" value="Search" />
                        </fieldset>
                    </form>
                </div>
                <br class="clear" />
            </div>
        </div>
        <!-- ####################################################################################################### -->
   
        <!-- ####################################################################################################### -->
        <h2 style="color: red">@if (TempData["notify"] != null)
                           {@TempData["notify"] }</h2>
        <div class="wrapper col3" style="display: table;">
           @*@RenderSection("Menu_Left",false)*@
            @RenderSection("Login", required: false)
            
                @RenderBody()
           

        </div>
        <!-- ####################################################################################################### -->

        @{Html.RenderPartial("_Content_FooterPartial");}
        <!-- ####################################################################################################### -->
        <div class="wrapper col6"style="margin-top:20px">
            <div id="copyright">
                <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
                <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
                <br class="clear" />
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
