﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="top">
    <div class="wrapper">
        <div class="wrapper col1">
            <div id="header">
                <div class="fl_left">
                    <h1><a href="#">Internet Banking</a></h1>
                    <p>Ngân hàng điện tử</p>
                </div>
                <div class="fl_right" style="background-color: blue; margin-bottom: 7px">
                    <a href="#">
                        <img src="~/Layouts/images/demo/468x67.gif" alt="" /></a>
                </div>
                <!-- Login section --->
                @RenderSection("Login", required: false)

                <br class="clear" />
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper col2">
            <div id="topbar">
                <div id="topnav">
                    <ul>
                        <li>@Html.ActionLink("Trang chủ", "Index", "User")</li>                       
                        <li>@Html.ActionLink("Hồ sơ cá nhân","HoSoCaNhan","User")</li>
                        <li>@Html.ActionLink("Tài khoản", "TaiKhoan", "User")</li>
                        <li>@Html.ActionLink("Giao dịch", "GiaoDich", "User")</li>
                        <li><a href="">Dịch vụ</a></li>
                        <li class="last"> @if(Session["User"]!=null){<b>Chào mừng</b> <h2 style="color:red">@Session["User"].ToString()</h2>}</li>
                        <li>&nbsp;@Html.ActionLink("Đăng xuât","DangXuat","User")</li>
                    </ul>
                </div>

                <br class="clear" />
            </div>
        </div>
        <!-- ####################################################################################################### -->
        @* <div class="wrapper col4">
            <div id="featured_slide" >
                <div id="slider" class="nivoSlider">
                    <img src="~/Layouts/images/demo/1.gif" alt="" />
                    <img src="~/Layouts/images/demo/2.gif" alt="" />
                    <img src="~/Layouts/images/demo/3.gif" alt="" />
                    <img src="~/Layouts/images/demo/4.gif" alt="" />
                    <img src="~/Layouts/images/demo/5.gif" alt="" />
                </div>
            </div>*@
        @*@RenderSection("featured_intro", required: false)*@

    </div>
    <h2 style="color: red">@if (TempData["notify"] != null)
                           {@TempData["notify"] }</h2>
    <!-- ####################################################################################################### -->
    <div class="wrapper col3" style="display: table;">
        @* @{Html.RenderPartial("_Menu-leftPartial2");}*@
        <div style="float: left; margin: auto; width: 250px; height: 800px">
            @RenderSection("feature_section", required: false)
            @* @{Html.RenderPartial("Menu_Function_User");}*@
        </div>
        <div style="float: left; margin-left: 50px" id="_content">
            @RenderBody()

        </div>

        <div>
        </div>





    </div>
    <!-- ####################################################################################################### -->
    <div>
        @{Html.RenderPartial("_Content_FooterPartial");}
    </div>

    <!-- ####################################################################################################### -->
    <div class="wrapper col6" style="margin-top: 20px; clear: both">
        <div id="copyright">
            <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            <br class="clear" />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    </div>
</body>
</html>
