﻿<h2>Thay đổi mật khẩu</h2>
<div>
    <ol>
        <li>Mật khẩu phải bao gồm tối thiểu 6 ký tự và tối đa 20 ký tự</li>
        <li>Mật khẩu phải bao gồm ký tự chữ và ký tự số</li>
        <li>Có thể sử dụng cả chữ hoa và chữ thường trong mật khẩu.</li>
        <li>Số lần cho phép nhập sai mật khẩu là 5.</li>
        <li>Cho phép ký tự đặt biệt và chỉ bao gồm các ký tự ?!#$*.</li>
        <li>Mật khảu mới không được trùng với Mật khẩu trước đó.</li>
    </ol>
</div>
<hr />
<div>
   @using (Ajax.BeginForm(new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "_content", HttpMethod="Post" }))
    {
      
        <b>Mật khẩu cũ</b>
        @Html.Password("matKhau")<br />
        <b>Mật Khẩu mới:</b>
        @Html.Password("matKhauMoi")<br />
        <b>Nhập lại mật khẩu mới</b><br />
        @Html.Password("matKhauMoi2")<br />
        <input type="submit" value="Đổi mật khẩu" />
    }
</div>
<h2 style="color: red">@if (TempData["notify"] != null)
                           {@TempData["notify"] }</h2>
