﻿@if (@Session["User"] != null)
{
    <span color="blue">@Session["User"].ToString()</span><br />
}

<hr />
@Html.ActionLink("Thông tin khách hàng", "ThongTinKhachHang", new { maKhachHang = @Session["maKhachHang"] })
<hr />
@Html.ActionLink("Thông tin tài khoản", "ThongTinTaiKhoan", new { maKhachHang = @Session["maKhachHang"] })
<hr />
@Html.ActionLink("Số dư tài khoản", "XemSoDuTaiKhoan", new { maKhachHang = @Session["maKhachHang"] })
@*@Ajax.ActionLink("Thông tin khách hàng","ThongTinKhachHang",
    "User",null, new AjaxOptions{HttpMethod="GET", InsertionMode=InsertionMode.Replace, UpdateTargetId="content_right"},
    new {@class="content_right_text"})*@
<hr />
Giao dịch
    <hr />
@Html.ActionLink("Lịch sử giao dịch", "XemLichSuGiaoDich", new { maKhachHang = @Session["maKhachHang"] })
<hr />
@Html.ActionLink("Đăng xuất", "DangXuat", "User", new { maKhachHang = @Session["maKhachHang"] })
