﻿@model banking.Models.KhachHang

<style>
    INPUT {
        color: White;
        background-color: #333;
        border: 1px solid black;
        cursor: pointer;
    }

</style>
<h2>CapNhatThongTinKhachHang</h2>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod="Post", InsertionMode=InsertionMode.Replace,UpdateTargetId="_content"}))
{
    <fieldset>
        <legend>&nbsp;</legend>
        @Html.HiddenFor(model => model.maKhachHang)
        @Html.HiddenFor(model => model.loaiKhachHang)


        <div class="editor-label">
            @Html.LabelFor(model => model.tenKhachHang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenKhachHang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hoKhachHang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hoKhachHang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tenDemKhachHang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenDemKhachHang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.soDienThoai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.soDienThoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.diaChi_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.diaChi_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.diaChi_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.diaChi_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tenCongTy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenCongTy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngheNghiep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngheNghiep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.chucVu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.chucVu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mucLuong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mucLuong)
        </div>

    </fieldset>
    
    <label>Nhập mật khẩu xác nhận</label>
    <input type="password" name="matKhau" class="actionButtons" />
    
    <input type="submit" value="Lưu" />
}
@using (Html.BeginForm("HuyCapNhatThongTinTaiKhoan", "User"))
{
    @Html.HiddenFor(model => model.maKhachHang)
    <input type="submit" value="Hủy" class="actionButtons" />
}