﻿@model banking.Models.GiaoDich
@{

    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2 style="color: blue">Khởi tạo giao dịch chuyển tiền trong hệ thống</h2>
<h3 style="color: blue">Thông tin chung</h3>
<hr />
<div style="text-align: center">
    @using (Ajax.BeginForm("ChuyenKhoanTrongheThong", "User", new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "_content", HttpMethod = "Post" }))
    {
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(m => m.soTaiKhoanNhan) :&nbsp;
            @Html.EditorFor(m => m.soTaiKhoanNhan)
        </div>
        <h3 style="color: blue">Thông tin người thụ hưởng</h3>
        <br />
        <div>
            @Html.LabelFor(m => m.nguoiNhan):&nbsp;
            @Html.EditorFor(m => m.nguoiNhan)
        </div>
        <div>
            @Html.LabelFor(m => m.giaTriGiaoDich):&nbsp;
            @Html.EditorFor(m => m.giaTriGiaoDich)
        </div>
        <div>
            @Html.LabelFor(m => m.dienGiai):&nbsp;
            @Html.EditorFor(m => m.dienGiai)
        </div>
        <hr />
        <br />
        <input type="submit" value="Tiếp tục" />
    }
</div>

<div id="_content">
</div>
