﻿@{
    ViewBag.Title = "HoSoCaNhan";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>HoSoCaNhan</h2>
@section feature_section{
    <hr />
    <h2 style="color: blue">Hồ sơ cá nhân</h2>
    <hr />
    <ul>
        <li>@Ajax.ActionLink("Thay đổi mật khẩu", "CapNhatMatKhau","User", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, HttpMethod="Get", LoadingElementId="loading"})</li>
        <li>@Ajax.ActionLink("Quản lý nhóm tài khoản", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
        <li>@Ajax.ActionLink("Xem và cập nhật thông tin cá nhân", "ThongTinKhachHang", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>

        <li>@Ajax.ActionLink("Cài đặt theo ý thích", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>

        <li>@Ajax.ActionLink("Cập nhật tên riêng tài khoản", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, HttpMethod="Get" })</li>
        <li>@Ajax.ActionLink("Cài đặt tài khoản yêu thích", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
        <li>@Ajax.ActionLink("Cài đặt dịch vụ yêu thích", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
        <li>@Ajax.ActionLink("Cài đặt câu hỏi bảo mật", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
        
    </ul>
    <hr />
    <h2 style="color: blue; text-align:center">Dịch vụ hổ trợ giao dịch</h2>
    <hr />
    <ul>
        <li>@Ajax.ActionLink("Quản lý người thụ hưởng", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
        <li>@Ajax.ActionLink("Quản lý nhà cung cấp", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace,  HttpMethod="Get"})</li>
       </ul>
}