﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/WebGridStyle.css" rel="stylesheet" type="text/css" />

<h1 style="color:blue">TRANG CHỦ</h1>
<br />
<h2 style="color:blue">Tóm tắt tài khoản</h2>
<div id="wgStyle" class="wgStyle">
    @{WebGrid grid = new WebGrid(Model, rowsPerPage: 5,canPage:true);}
    @grid.GetHtml(columns:grid.Columns(
    grid.Column("soTaiKhoan",header:"Số tài khoản"),
    grid.Column("soDu", header:"Số dư khả dụng"),
    grid.Column("loaiTien", header:"Loại Tiền")
    ))
</div>


