﻿@{
    ViewBag.Title = "GiaoDich";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section feature_section{
    <hr />
    <h2 style="color: blue">Thông tin số dư và giao dịch</h2>
    <hr />
    <ul>
        <li>@Ajax.ActionLink("Tóm tắt tài khoản", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Tài khoản tiền gửi không kỳ hạn", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Tài khoản tiền gửi có kỳ hạn", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>

        <li>@Ajax.ActionLink("Tài khoản tiền vay", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
    </ul>
    <hr />
    <h2 style="color: blue; text-align:center">Quản lí TK chính cá nhân</h2>
    <hr />
    <ul>
        <li>@Ajax.ActionLink("Quản lý danh mục", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Công cụ tính toán", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Quản lý giao dịch tiền mặc", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Xem báo cáo", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
        <li>@Ajax.ActionLink("Quản lý mục tiêu", "", new AjaxOptions { UpdateTargetId = "_content", InsertionMode = InsertionMode.Replace, })</li>
    </ul>
}
<h2>Tài khoản</h2>
