﻿@model banking.Models.TaiKhoan
@{
    ViewBag.Title = "ThongTinTaiKhoan";
}

<h2>ThongTinTaiKhoan</h2>
<fieldset>
    <legend></legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.soTaiKhoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soTaiKhoan)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.maKhachHang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maKhachHang)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.soDu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soDu)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trangThai)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.trangThai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trangThai)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ngayKichHoat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayKichHoat)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.maPin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maPin)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.tenDangNhap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenDangNhap)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.matKhau)
    </div>
    <div class="display-field">
        @Html.Display("*********")
    </div>
</fieldset>