﻿@model IEnumerable<banking.Models.GiaoDich>
@{
    ViewBag.Title = "XemLichSuGiaoDich";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>XemLichSuGiaoDich</h2>
<table>
    <tr>
        <th>Mã giao dịch</th>
        <th>Số TK gửi</th>
        <th>Số TK nhận</th>
        <th>ma Biểu Phí</th>
        <th>thời gian GD</th>
        <th>Giá trị GD</th>
        <th>loại GD</th>
        <th>Người gửi</th>
        <th>Người nhận</th>
        <th>NH gửi</th>
        <th>NH nhận</th>
        <th>Phí GD</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maGiaoDich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soTaiKhoanGui)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.soTaiKhoanNhan)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.maBieuPhi)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.thoiGianGiaoDich)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.giaTriGiaoDich)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.loaiGiaoDich)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nguoiGui)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nguoiNhan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nganHangGui)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nganHangNhan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.phiGiaoDich)
            </td>

        </tr>
    }
</table>
